// Modules and Variables
@import "partials/base";
@import "modules/colors";
@import "materialize";

.nav-wrapper .button-collapse {
  margin-left: 5%;
}

.container {
  width: 90%;
}

@media screen and (max-width: 991px) {
  .nav-wrapper .page-title {
    margin-left: -5%;
  }
}

@media screen and (min-width: 992px){
  #main {
    margin-left: 240px;
  }
  .page-title {
    margin-left: 240px;
  }
}

#front-page-logo {
  margin-top: 18px;
  margin-left: -15px;
  height: 25px;
}

.page-title {
  font-size: 24px;
}

a.breadcrumb {
  vertical-align: center;
  line-height: 64px;
}