// Standard colors
$bright-white: #f8f8f8;
$subtle-white: #f7f7f7;
$bright-gray: #e8e8e8;
$subtle-gray: #b8b8b8;
$dark-gray: #383838;
$b16-red: #ab4642;
$b16-green: #a1b56c;
$b16-yellow: #f7ca88;
$b16-blue: #7cafc2;
$b16-magenta: #ba8baf;
$b16-cyan: #86c1b9;

// Site colors
$brand-color: red;
$background-color: #eee;
$light-background-color: $subtle-white;
